services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - APP_ENV=local
      - PORT=8080
      - DATABASE_URL=postgresql://redrx:securepassword@db:5432/redrx_db?sslmode=disable
      - REDIS_URL=redis://redis:6379
      - MAXMIND_ACCOUNT_ID=${MAXMIND_ACCOUNT_ID}
      - MAXMIND_LICENSE_KEY=${MAXMIND_LICENSE_KEY}
      - MAXMIND_EDITION_IDS=${MAXMIND_EDITION_IDS:-GeoLite2-Country}
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - geoip_data:/root/geoip
    restart: always

  redis:
    image: redis:7.4-alpine
    restart: always

  db:
    image: postgres:17-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=redrx
      - POSTGRES_PASSWORD=securepassword
      - POSTGRES_DB=redrx_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U redrx -d redrx_db" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

volumes:
  postgres_data:
  geoip_data:
