name: Cleanup Old Package Versions

on:
  workflow_dispatch: # Allow manual triggering

jobs:
  delete-versions:
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Delete old image versions
        uses: actions/delete-package-versions@v5
        with:
          package-name: ${{ github.event.repository.name }}
          package-type: 'container'
          min-versions-to-keep: 5
          ignore-versions: 'latest' # Always keep the latest tag
          delete-only-untagged-versions: 'false'
